version: "3.9"

services:
  api:
    build: .
    env_file: .env
    ports:
      - "8080:8080"
    restart: unless-stopped

  swagger-ui:
    image: swaggerapi/swagger-ui
    # container-name: swagger-ui
    ports:
      - "8081:8080"
    environment:
      SWAGGER_JSON: /swagger/swagger.json
    volumes:
      - ./docs/swagger.json:/swagger/swagger.json:ro
    depends_on:
      - api
