services:
  backend:
    build:
      context: ./src/backend
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
      - "5173:5173"
    volumes:
      - .:/app
    command: tail -f /dev/null

networks:
  default: null
